@media (max-width: 768px) {
  body {
   margin: 0;
   padding: 0;
  }
}

html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}



.carousel-inner {
    height: 100%;
}




.carousel.carousel-fade .item {
    -webkit-transition: opacity ease-in-out 1s;
  -moz-transition: opacity ease-in-out 1s;
  -o-transition: opacity ease-in-out 1s;
  transition: opacity ease-in-out 1s;
  opacity: 0;
  
}
.carousel.carousel-fade .item.active {
  opacity:1;
}
.carousel.carousel-fade .active.left, .carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
.carousel.carousel-fade .next, .carousel.carousel-fade .prev {
  left: 0;
  z-index: 1;
}
.carousel.carousel-fade .carousel-control {
  z-index: 3;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100% !important;
    height: 100% !important;
    background-position: center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    -o-background-size: cover !important;
    background-repeat: no-repeat !important;
}


