body {
  overflow-x: hidden;
}




section {
    padding: 80px 0;
    max-width: 100%;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 110px !important;
  margin: 0 auto !important;
  
}
#testimonials h1 {
  padding-top: 20px;
}

#services h1 {
 padding-bottom: 50px;
}

#services div {
  padding-top: 15px;
}



#services span > i {
  font-size: 60px;
  color: #13b3e7;
}

.navbar-default .nav li a {
    color: #fff;
    font-style: bold;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #FF1493;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #FF1493;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #FF1493;

}

.navbar-default {
    border-color: transparent;
    background-color: #222;
}

#about img {
  border-radius: 100%;
  width: 300px;
  height: 300px;
}

#bio {
  padding-top: 20px; 
}

#bio p {
  font-family: poiret one;
  font-size: 1.75rem;
}

.portfolio-caption {
  font-family: 'Poiret One', normal;
  font-size: 2rem;
  
}

#Service h3,
#serviceBottom h3  {
    font-family: 'Poiret One', normal;
  font-size: 2.5rem;
  font-style: bold;
}


section h1 {
  font-family: 'Poiret One', normal;
  font-size: 5.5rem;
  font-weight: bold;
  color: #FF1493;
}


.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}



.navbar .nav {
  padding-top: 10px;
  padding-right: 25px;
  
  
}

.bg-light-gray {
    background-color: #f7f7f7;
}


#Service {
  margin-top: 15px;
}
  

#logo {
  width: 22.5rem;
  height: auto;

}

#gallery {
 padding-top: 100px; 
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(255, 51, 204,.7);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.bottom-portfolio {
  margin-top: 55px;

}

/*Read More */

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}


/* ==========================================================================
Waypoints
========================================================================== */
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 {
 visibility: hidden; 
}
.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight { visibility: visible; }
.delay-05s { animation-delay: 0.5s; -webkit-animation-delay: 0.5s; }
.delay-1s { animation-delay: 1s; -webkit-animation-delay: 1s; }
.wp3 { background: url('../img/iphone-bg.png') no-repeat center center; background-position: 200px 10px; height: 100%; }




#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

#portfolio * {
    z-index: 2;
}

#about {
  padding-top: 75px;
}

.bottom-icons {
  margin-top: 55px;
}




#testimonials h1 {
  padding-bottom: 50px; 
}



#testimonials p {
  font-family: 'Podkova', serif;
  font-style: italic;
  font-size: 1.6rem;
  line-height:2;
  margin: 25px;
}

.testimonials  {
  margin-top: 50px;
}

.review {
  display: block;
  margin: 0;
}

.customer {
   border-radius: 100%;
   width: 70px;
   height: 70px;
}

#posts img:nth-of-type(1) {
  margin-top: 10px;
}




#contact {
 padding-top: 70px; 
 background-color: #FF1493;
}

#contact h1 {
  color: #fff;
  font-family: 'Poiret One', cursive;
}

form {
  padding-top: 50px;
}

#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group input, section#contact .form-group textarea {
    padding: 20px;
}

#contact .form-group input, #contact .form-group textarea {
    padding: 20px;
}

#contact .form-group textarea.form-control {
    height: 236px;
}

button {
 margin-top: 50px;
}

.btn-xl {
    padding: 20px 40px;
    border: 3px solid #fff;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #FF1493;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active {
   background-color: #fff;
  background-image: none;
  color: #FF1493;
  outline: none;
  border-color: #fff;
    -webkit-box-shadow: none;
          box-shadow: none;
}


footer {
  text-align: center;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    line-height: 40px;
}

footer ul.quicklinks {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover {
  background-color: #FF1493;
}


.navbar-default .nav li a  {
  color: #fff;
  padding-right: 15px;
  font-family: 'Poiret One', normal;
  font-size: 2.2rem;
}





.navbar-default .navbar-nav>.active>a {
    border-radius: 3px;
  background-color: #FF1493;
  color: #fff;
}



.navbar-default .navbar-nav>.active>a:hover{
  background-color: #FF1493;
  color: #fff;
}


.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #FF1493;
    background-color: #FF1493;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #FF1493;
}







@media (max-width:768px) {





#logo {
  width: 13.5rem;
  height: auto;
  padding-bottom: 35px;
}


  #Service div:nth-child(2),
  #Service div:nth-child(3){
    padding-top: 45px;

}

#gallery div:nth-child(2),
#gallery div:nth-child(3) {
  padding-top: 45px;

}

a


#posts div p {
  margin: 0px 25px 45px;
}

#posts img {
  margin-left: 10px;
}


.row {
  margin-left: 0 !important;
  margin-right: 0  !important;
}

#bio {
  margin-top: 40px;
  line-height: 2;
}
  

.review {
  padding-left: 70px;
}




}

footer {
    margin: 50px 0;
}



@media (min-width: 768px) {

.navbar-default  {
    border: 0;
    background-color: transparent;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
}

     .navbar-default.navbar-shrink {
        padding-top:  5px;
        padding-bottom: 12px;
        background-color: #222;
    }



#posts img {
  float: left;
}


.review {
  padding-top: 50px;
}




}

@media only screen and (min-width : 992px) {
 
  .review {
  padding-left: 15px;
  padding-top: 50px;
}
  
}





  